    @import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Poppins:wght@500;600&display=swap');
    .nav a{
        position: relative;
        text-decoration:none;
        font-family: 'Poppins',sans-serif;
        color:#a0a0a0;
        font-size: 18px;
        letter-spacing: 0.5px;
        padding: 0 10px;
    }
    .nav a:after{
        content:"";
        position:absolute;
        background-color:#39FF14;
        height: 3px;
        width:0;
        left: 0;
        bottom: -10px;
        transition: 0.3s;
    }
    a:hover{
        color:#000;
    }
    a:hover:after{
        width: 100%;
    }
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    a{
        text-decoration: none;
    }
    ul{
        list-style:none;
    }
    header{
        width:100%;
    display: flex;
    background-color: #222831;
    justify-content: space-around;
    padding: 1rem 0;
    align-items:center;
    z-index: 10000;
    }

    .logo{
        display: flex;
        align-items: center;

    }
    .logo img{
        width:50px;
        border-radius:  50%;
        margin-right: 10px;
    }

    .header_logo {
    color:#eeee;
    font-weight: 600;
    }

    .nav__list{
        display: flex;
        align-items: center;
    }
    .nav__item{
        margin: 0  8px;
    }
    .nav__link{
        padding: 10px;
        color: #eeee;
        font-size: 0.9rem;
        font-weight: 500;
        border-radius: 5px;
    }


    .header__toggle,.header__close{
        display: none;
    }
    @media screen and (max-width: 768px) {
        header{
            height: 48px;
            justify-content: space-between;
            padding:  0 28px;
            z-index:100000;
        }
        .logo a {
            font-size: 0.9rem;
        }
        .logo img{
            width: 30px;
        }
        .header__toggle{
            display: inline;
            color:#eeee;
            font-size:24px;
        }
        .header__close{
            position:absolute;
            right:24px;
            display: block;
            font-size: 24px;
            border-radius:50%;
        }
        .header__close:hover{
            background-color: #00adb5;
        }
        .nav{
            position: fixed;
            top:0;
            right: -100%;
            background-color: #222831;
            color:#eeee;
            width:60%;
            height: 100vh;
            padding: 24px 0;
            z-index: 100000;
            transition:0.5s ;
            border-radius:0 0 0 50% ;
        padding: 40px 80px;
        }
        .nav__list{
            display: flex;
            flex-direction: column;
        }
        .nav__item{
            margin: 2rem 0;
        }
        .show{
        right: 0; 
        }
        
    }

    header{
     height: 10vh;
        position: sticky;
        top:0;
        background-color:#222831;
    }
    #header.sticky{
        background-color:#23e3c9;
        position: sticky;
        top:0;
        padding: 15px 0 ;
    }
    .logo{
    background-color: #39FF14;
    }
    /* home section styling */
    #home_section{
        justify-content: center;
        align-items: center;
        margin: 0;
        padding: 0;
        height: 100vh;
        display: flex;
        margin-right: 20vh;


    }
    body{
        font-family: 'Poppins', sans-serif;
        background-color: #23e3c9;
    }
    .slider{
        margin-left: 100px;;
        width: 1000px;
        width: 1000;
        border-radius: 10px;
        overflow: hidden;
    }
    .slides{
        width: 500%;
        height: 500px;
        display: flex;
    }
    .slides input{
        display: none;
    }
    .slide{
        width: 20%;
        transition: 2s;
    }
    .slide img {
        width: 100vh;
        height:500px;
    }
    /* css for manual navigation */
    .navigation-manual{
    position: absolute;
    width: 800px;
    margin-top:  -40px;
    display: flex;
    justify-content: center;
    }
    .manual-btn{
        width: 10px;
        height: 10px;
        border:  2px solid #40d3dc ;
        border-radius: 10px;
        cursor: pointer;
        transition: 1s;
    }
    .manual-btn:not(:last-child){
        margin-right: 40px;
    }
    .manual-btn:hover{
        background: #40d3dc;
    }

    #radio1:checked ~ .first{
        margin-left: 0;
    }

    #radio2:checked ~ .first{
        margin-left: -20%;
    }
    #radio3:checked ~ .first{
        margin-left: -40%;
    }

    /* /.css for automatic navigation */
    .navigation-auto{
        position: absolute;
        display: flex;
        width: 800px;
        justify-content: center;
        margin-top: 460px;
    }
    .navigation-auto div{
        border: 2px solid #40d3dc;
        padding: 5px;
        border-radius:  10px;
        transition: 1s;
    }
    .navigation-auto div:not(:last-child){
        margin-right:  40px;
    }
    #radio1:checked ~ .navigation-auto .auto-btn1{
    background: #40d3dc;
    }
    #radio2:checked ~ .navigation-auto .auto-btn2{
    background: #40d3dc;
    }
    #radio3:checked ~ .navigation-auto .auto-btn3{
        background: #40d3dc;
    }
    /* part */
    @media screen and (max-width: 768px) {
        header{
            position: fixed;

        }
    }
    @media screen and (max-width:1080px) {
        header{
           
            position: fixed;
        }
    }
    /* //part */
    @media (max-width: 1403px) {
        #home_section .slides .slide img,.slider{
            margin-left: 100px;;
            height: 400px;
            width: 1200px;
        }
    }
    @media (max-width: 1186px) {
        #home_section .slides .slide img,.slider{
            margin-left: 100px;;
            height: 400px;
            width:1000px;
        }
    }
    @media (max-width: 732px) {
        #home_section img,.slider{
            height: 300px;
            width: 650px;
        }
    }
    /* part */

    :root{
        --white-light:rgba(255,255,255,0.5);
        --alice-blue: #f8f9fa;
        --carribean-green:#40c9a2;
        --gray:#ededed;
    }
    .product-img img{
        width:100%;
        display: block;
    }
